name: SLSA3 Go Release
on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write
  actions: read
  id-token: write
jobs:
  build:
    permissions:
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1.7.0
    with:
      go-version: 1.21
